body,
html {
    margin:0;
    padding:0;
    color:#000;
}
#wrap
{
    width: 850px;
}
/* Header styles */
div.header
{
    width: 850px;
}
div.header img.logo
{
    width: 130px;
    height: 130px;
}

/* Nav styles */
div.nav
{
    float: left;
    width: 250px;
}
/* Main styles */
div.main
{
    float: right;
    width: 600px;
}
