{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% get_static_prefix %}styles/styles.css" type="text/css" />
</head>
    <body>
    <div id="wrap">
        <div class="header">
            <a href="/blog"><img src="{% get_static_prefix %}images/logo.gif" class="logo"/></a>
        </div>
        <div class="nav">
            <h2>Recent</h2>
            <ul>
            {% for post in posts %}
                <li><a href="/blog/{{ post.slug }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="main">
        {% block content %}{% endblock %}
        </div>
    </div>
    </body>
</html>
