{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% get_static_prefix %}styles/styles.css" type="text/css" />

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30182147-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div id="wrap">
        <div class="header">
            <a href="/blog"><img src="{% get_static_prefix %}images/logo.gif" class="logo"/></a>
        </div>
        <div class="nav">
            <h2>Recent</h2>
            <ul>
            {% for post in posts %}
                <li><a href="/blog/{{ post.slug }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
            <a href="/blog/feed"><img src="{% get_static_prefix %}images/rss.png"/></a>
        </div>
        <div class="main">
        {% block content %}{% endblock %}
        </div>
    </div>
    </body>
</html>
