{% extends "blog/base.html" %}

{% block title %}Russell Myers - {{ post.title }}{% endblock %}

{% block content %}
{% include "blog/includes/post.html" %}
<div class="comments">
    <a name="comments" />
    <h3>Comments</h3>
    <form action="/blog/add-comment/{{ post.slug }}" method="post">{% csrf_token %}
        <script type="text/javascript"
            src="http://www.google.com/recaptcha/api/challenge?k=6LcPXM8SAAAAAESXZum6DPHPPuYC46TmsFZoDSgD">
        </script>
        <noscript>
            <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcPXM8SAAAAAESXZum6DPHPPuYC46TmsFZoDSgD"
                height="300" width="500" frameborder="0"></iframe><br>
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            </textarea>
            <input type="hidden" name="recaptcha_response_field"
                value="manual_challenge">
        </noscript>
        <p><label for="nameField">Name: </label> <input type="text" name="username_field" id="nameField" size="40" maxlength="50"/></p>
        <p><label for="locationField">URL: </label> <input type="text" name="user_url_field" id="locationField" size="40" maxlength="120"/></p>
        <p>
            <label for="bodyField">Comment: </label> <br />
            <textarea name="body_field" id="bodyField" rows="8" cols="70"></textarea>
        </p>
        <input type="submit" value="Submit" />
    </form>
    {% for comment in post.comment_set.all %}
    <div class="comment">
        <div class="body">
            {{ comment.body }}
        </div>
        <div class="author">
            <a href="{{ comment.user_url }}">{{ comment.username }}</a> on {{ comment.posted }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
